*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root{
  --mainColor:#f57224;
  --whiteColor:#fff;
  --blackColor:#000;
  --lighDark:#222;

}
body{
 font-family: 'Roboto', sans-serif; 
  
}

nav{
  width: 100%;
  height:70px;
  line-height: 70px;
  padding: 0 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1) ;
  display: flex;
  justify-content: space-between;
}
.left a{
  font-weight: 700;
  color: var(--mainColor);
  font-size: 20px;
}
.left{
  display: flex;
  justify-content: flex-start;
  width: 50%;
  text-align: left;
  margin-left: 15px;
 
}
.right{
  width: 50%;
  text-align: right;
  margin-right: 15px;
  
}
ul{
  list-style: none;
}
nav ul a{
  text-decoration: none;
}
.shoppingCart i{
  font-size: 20px;
  display: inline-block;
  color: var(--lighDark);
  margin-right: 15px;
}
.cartCount{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: var(--mainColor);
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
  font-size: 12px;

}


/*-------------------Banner------------------ */
.container{
  width: 100%;
  padding: 0 21px;
  z-index: -1;
}
header{
  display: flex;
  width: 100%;
  background:url(./assets/b4.jpg) ;
  height: 250px;
  margin-top: 20px;
  object-fit:fill;
  justify-content: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  color: #fafafa;
  
}
.headerText{
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 50px;
  justify-content: center;
  align-items: center;
}
/* Product style*/

.products{
  display: flex;
  flex-wrap: wrap;
 justify-content: space-evenly;
    

}
.product{
  width: 25%;
  padding: 0 12px;
  margin: 20px 10px;
  position: relative;
}
.product-img {
  width: 100;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}
.hot{
  position: absolute;
  top: 0;
  border-right: 5px solid rgb(255, 0, 0);
  padding: 10px 10px;
  margin: 5px 5px;
  z-index: 1;
  background-color: goldenrod;
}
.new{
  border-right: 5px solid rgb(58, 207, 28);
  position: absolute;
  top: 0;
  padding: 10px 10px;
  margin: 5px 5px;
  z-index: 1;
  background-color: goldenrod;
}
.product-details{
  margin-top: 5px;
  width: 300px;
  text-transform: uppercase;
  text-align: center;
  background: rgb(192, 191, 189);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.product-name{
  font-size: 20px;
  font-weight: 500;
  padding: 5px 15px;
   
}
.product-price{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
  padding-bottom:5px;
}
.add-to-cart{
  background-color: #f57224;
  padding: 10px 20px;
  width:300px;
  color: white;
  text-align: center;
  cursor: pointer;
}
 


/*Notfound*/
.not-found{
  margin-top: 100px;
}

/*Crt style*/
.cart-container{

  width: 100%;
  margin-top: 35px;
  padding: 0 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.cart-details{
  width: 75%;
  border: 1px solid #fafafa;
  border-radius: 5px;
}.cart{
  display: flex;
  align-items: center;
  background: white;
  padding: 15px 20px;

}
.cart-image{
  display: inline-block;
  width: 200px;
  height: 200px;
}
.cart-image img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.cart-product-name{
  width: 120px;
  padding: 0 15px;
  font-size: bold;
  display: inline-block;
  
}
.cart-product-price{
  display: inline-block;
  width: 120px;
  padding: 0 15px;
  text-align: center;
  font-weight: 500;
  font-size: larger;
  color: rgb(15, 15, 15);
}
.inc{
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid green;
  font-size: 14px;
  cursor: pointer;
}
.product-quantity{
  display: inline-block;
  padding: 0 15px;
  font-size: 15px;
  width: 70px;
  text-align: center;

}
.dec{
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid rgb(231, 94, 15);
  font-size: 14px;
  cursor: pointer;
}
.product-total-price{
  display: inline-block;
  width: 170px;
  padding: 0 15px;
  text-align: center;
}
.delete{
  cursor: pointer;
  border: none;
  color: red;
  
}
/*Cart summary*/
.cart-summary{
  width: 25%;
  padding: 0 0 0 20px;
}
 .summary{
   background: white;
   padding: 12px;

 }
 .summary h3{
   font-size: 18px;
   font-weight:normal ;
   border-bottom: 1px solid #999;
 }
 .total-items{
   display: flex;
   margin: 15px 0;

 }
 .items{
   width: 50%;
   text-align: left;
 }
 .item-count{
   width: 50%;
   text-align: right;
   font-weight: bold;
   color: #f57224;
 }
 .total-price-section{
   display: flex;
   margin: 15px 0;
 }
 .just-title{
  width: 50%;
  text-align: left;
 }
 .items-price{
   width: 50%;
   text-align: right;
   font-weight: bold;
   color: #f57224;

 }


 @media(max-width:765px){
   .container{
     padding: 0 0;
     overflow: hidden;
   }
    .left{
      margin-left: 8px;
    }
    .right{
      margin-right: 8px;
    }
   .headerText{
     padding: 0 15px;
   }
   .headerText h1{
     font-size: 20px;
   }
   .products{
     flex-direction: column;
    
   }
   .product{
     width: 100%;
   }
   .cart-container{
     flex-direction: column;
   }
   .cart{
     flex-direction: column;
   }
   .cart-details{
     width: 100%;
   }
   
   .cart-product-name{
     padding: 15px 0;
     text-align: center;
   }
   .cart-product-price{
     padding: 15px 0;
   }
   .product-quantity{
    padding: 15px 0;
   }
   .product-total-price{
    padding: 15px 0;
   }
   .cart-summary{
     width: 100%;
   }
 }